.container{
    margin: 0 auto;
}
.input-grp{
    margin-left: 40%;

}
input{
    display: block;
}
#form{
    width: 50%;
}
h2{
    margin-left: 40%;
    margin-bottom: 10%;
}
button{
    margin-left: 40%;
    margin-top: 5%;
    color: red;
    border:1px solid red;
    border-radius: 5px;
}
button:hover{
    cursor:pointer;
}
input{
    margin-top: 10px;
    margin-bottom: 10px;
}
